<div class="buttons">
    <form action="/auth" method="post">
        <button type="submit" class="btn connexion-btn">Connexion</button>
    </form>
    <form action="/history" method="post">
        <button type="submit" class="btn history-btn">History</button>
    </form>
    
</div>