<div class="buttons">
    <form action="/signin" method="post">
        <button type="submit" class="btn connexion-btn">Sign in</button>
    </form>
    <form action="/history" method="post">
        <button type="submit" class="btn history-btn">History</button>
    </form>

</div>