<div class="buttons">
    <form action="/signup" method="post">
        <button onclick="event.stopPropagation()" type="submit" class="btn connexion-btn">Sign up</button>
    </form>
    <form action="/history" method="post">
        <button onclick="event.stopPropagation()" type="submit" class="btn history-btn">History</button>
    </form>

</div>