</head>

<body>
    <main>
        <div class="container">
            <div class="bg-glass <%= namePage %>">

                <header>
                    <h1 class="title <%= namePage %>">PROJECT</h1>
                    <a href="/">
                        <h2 class="theme <%= namePage %>">black & white</h2>
                    </a>
                </header>